<div class="container" >
  <div class="content ">
    <div class="col-md-12 mt-2">
      <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="colorUpdate ">
          <div class="card-header bg-white">
            <h5 title="Renk bilgilerini güncelle-sil">
              <div class="card-body">
                <form [formGroup]="colorUpdateForm" >
            <h5 class="title ">Renk Bilgilerini Güncelle</h5>

                  <div class="mb-1 ">
                    <div class="form-group">
                      <select
                        id="colorId"
                        formControlName="colorId"
                        class="form-control"
                        aria-placeholder="Renk"
                      >
                        <option
                          *ngFor="let color of colors"
                          [ngValue]="color.colorId"
                        >
                          {{ color.colorName }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="mb-1">
                    <label for="colorName">Renk adı</label>
                    <div class="form-group">
                      <input
                        type="text"
                        id="colorName"
                        formControlName="colorName"
                        class="form-control"
                        placeholder="Renk adı yazınız."
                      />
                    </div>
                  </div>
                </form>
              </div>

              <div class="card-footer bg-white">
                <button class="btn btn-fill btn-dark" (click)="update()">
                  Güncelle
                </button>
              </div>
            </h5>
          </div>
      </div>

      </div>
    </div>
  </div>




</div>
